Repository astrid-project/cb-manager: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build, code_quality

.gitlab-ci.yml:

docker-build:
  stage: build
  script:
    - "curl -X POST -F token=0fc35482b4ca31b76ad4ee95587028 -F ref=master https://gitlab.com/api/v4/projects/18720527/trigger/pipeline"
  rules:
    - changes:
        - "**/*.py"
        - "**/*.ini"
        - "**/*.sh"
        - "**/*.yaml"
        - "**/*.docstring"

code_quality:
  image: docker:stable
  variables:
    DOCKER_DRIVER: overlay2
    SP_VERSION: 0.85.6
  allow_failure: true
  services:
    - docker:stable-dind
  script:
    - docker run
        --env SOURCE_CODE="$PWD"
        --volume "$PWD":/code
        --volume /var/run/docker.sock:/var/run/docker.sock
        "registry.gitlab.com/gitlab-org/ci-cd/codequality:$SP_VERSION" /code
  artifacts:
    reports:
      codequality: gl-code-quality-report.json
  rules:
    - changes:
        - "**/*.py"
        - "**/*.ini"
        - "**/*.sh"

No allowing to fail CI/CD code_quality job.
  .gitlab-ci.yml
Due: none

Code quality job new version form GitLab.
  .gitlab-ci.yml
Due: none

Minor fixes & changed license to MIT.
  .vscode/settings.json
  LICENSE
  document/agent/catalog.py
  document/exec_env/__init__.py
  document/network_link/__init__.py
  elk.py
  resource/agent/instance/lcp/execute.py
  resource/base/lcp/retrieve.py
  resource/ebpf_program/instance/lcp/delete.py
  schema/agent/catalog/__init__.py
  schema/agent/catalog/action.py
  schema/agent/instance.py
  schema/connection.py
  schema/data.py
  schema/ebpf_program/catalog/__init__.py
  schema/ebpf_program/instance.py
  schema/exec_env/__init__.py
  schema/network_link/__init__.py
  swagger/schema.json
  swagger/schema.yaml
Due: docker-build, code_quality

Minor changes for editor settings.
  .vscode/settings.json
  cb-manager.code-workspace
Due: none

CI/CD analysis
  .gitlab-ci.yml
  schema/__pycache__/connection.cpython-38.pyc
  schema/__pycache__/data.cpython-38.pyc
  schema/__pycache__/exec_env.cpython-38.pyc
  swagger/schema.json
  swagger/schema.yaml
Due: docker-build

CI/CD analysis
  .gitlab-ci.yml
Due: none

Improve execute of actions
  .vscode/settings.json
  document/agent/catalog.py
  requirements.txt
  resource/agent/handler/lcp/execute.py
  resource/agent/handler/lcp/post.py
  resource/agent/handler/lcp/put.py
  resource/agent/instance.py
  resource/base/__init__.py
  resource/base/delete.py
  resource/base/handler/lcp/retrieve.py
  resource/base/post.py
  resource/base/put.py
  resource/connection.py
  resource/data.py
  resource/ebpf_program/handler/lcp/delete.py
  resource/ebpf_program/handler/lcp/post.py
  resource/ebpf_program/handler/lcp/put.py
  resource/ebpf_program/instance.py
  schema/agent/catalog.py
  schema/agent/instance.py
  schema/response.py
  swagger/schema.json
  swagger/schema.yaml
Due: docker-build, code_quality

Readonly fields set.
  .vscode/settings.json
  resource/agent/catalog.py
  resource/agent/handler/lcp/execute.py
  resource/agent/instance.py
  resource/connection.py
  resource/data.py
  resource/ebpf_program/catalog.py
  resource/ebpf_program/instance.py
  resource/exec_env/__init__.py
  resource/exec_env/type.py
  resource/network_link/__init__.py
  schema/agent/catalog.py
  schema/agent/instance.py
  schema/connection.py
  schema/data.py
  schema/ebpf_program/catalog.py
  schema/ebpf_program/instance.py
  schema/exec_env.py
  schema/network_link.py
  swagger/schema.json
  swagger/schema.yaml
  utils/sequence.py
Due: docker-build, code_quality

Minor changes
  document/agent/catalog.py
  resource/agent/handler/lcp/execute.py
  resource/agent/handler/lcp/post.py
  resource/agent/handler/lcp/put.py
  schema/agent/catalog.py
  swagger/schema.json
  swagger/schema.yaml
Due: docker-build, code_quality

Tutorial: Execution Environment
  README.md
  resource/base/delete.py
  resource/base/put.py
  swagger/schema.json
  swagger/schema.yaml
  tutorial/exec-env-type.md
  tutorial/exec-env.md
Due: docker-build, code_quality

Tutorial: exec-env (with type) and network link (with type).
  swagger/schema.json
  swagger/schema.yaml
  tutorial/README.md
  tutorial/exec-env-type.md
  tutorial/exec-env.md
  tutorial/network-link-type.md
  tutorial/network-link.md
Due: docker-build

Minor changes
  .vscode/settings.json
  api/__init__.py
  docstring/__init__.py
  docstring/copy_func.py
  reader/config/env_interpolation.py
  resource/agent/handler/lcp/execute.py
  resource/base/delete.py
  resource/base/post.py
  swagger/schema.json
  swagger/schema.yaml
  utils/datetime.py
  utils/hash.py
  utils/json.py
  utils/log.py
  utils/sequence.py
  utils/signal.py
  utils/time.py
Due: docker-build, code_quality

Minor changes
  document/agent/catalog.py
  document/agent/instance.py
  document/connection.py
  document/ebpf_program/catalog.py
  document/ebpf_program/instance.py
  document/exec_env.py
  document/network_link.py
  resource/base/post.py
  schema/agent/catalog.py
  schema/agent/instance.py
  schema/connection.py
  schema/ebpf_program/catalog.py
  schema/exec_env.py
  schema/network_link.py
  swagger/schema.json
  swagger/schema.yaml
  tutorial/connection.md
  tutorial/data.md
  tutorial/exec-env-type.md
  tutorial/exec-env.md
  tutorial/network-link-type.md
Due: docker-build, code_quality

Minor changes
  .vscode/settings.json
  document/agent/instance.py
  resource/__init__.py
  resource/agent/handler/lcp/execute.py
  resource/base/__init__.py
  resource/base/delete.py
  resource/service_graph/__init__.py
  resource/service_graph/get.py
  resource/service_graph/set.py
  schema/agent/catalog.py
  schema/ebpf_program/catalog.py
  swagger/schema.json
  swagger/schema.yaml
  tutorial/README.md
  tutorial/agent-catalog.md
  tutorial/agent_catalog-firewall.json
  tutorial/agent_catalog-nprobe.json
  tutorial/agent_instance.md
  tutorial/connection.md
  tutorial/data.md
  tutorial/ebpf-program-catalog.md
  tutorial/exec-env-type.md
  tutorial/exec-env.md
  tutorial/network-link-type.md
  tutorial/network-link.md
Due: docker-build, code_quality

Minor changes
  document/agent/catalog.py
  lib/heartbeat.py
  resource/agent/handler/lcp/execute.py
  resource/agent/handler/lcp/put.py
  resource/base/delete.py
  resource/base/get.py
  resource/base/post.py
  resource/base/put.py
  resource/ebpf_program/handler/lcp/delete.py
  resource/ebpf_program/handler/lcp/post.py
  resource/ebpf_program/handler/lcp/put.py
  resource/service_graph/set.py
  schema/agent/catalog.py
  swagger/schema.json
  swagger/schema.yaml
  tutorial/agent-catalog.md
  tutorial/agent_catalog-firewall.json
Due: docker-build, code_quality

CI/CD quality test
  .gitlab-ci.yml
Due: none

CI/CD code_quality
  .gitlab-ci.yml
Due: none

Minor changes
  .bandit
  .gitlab-ci.yml
  .pycodestyle
  .pydocstyle
  .vscode/settings.json
  api/spec.py
  document/agent/catalog.py
  document/ebpf_program/catalog.py
  lib/heartbeat.py
  main.py
  reader/config/__init__.py
  reader/query/__init__.py
  reader/query/limit.py
  reader/query/order.py
  reader/query/where.py
  requirements.txt
  resource/agent/handler/lcp/execute.py
  resource/base/delete.py
  resource/base/get.py
  resource/base/post.py
  resource/base/put.py
  resource/ebpf_program/handler/lcp/delete.py
  resource/ebpf_program/handler/lcp/post.py
  resource/ebpf_program/handler/lcp/put.py
  resource/service_graph/set.py
  swagger/schema.json
  swagger/schema.yaml
  test/bandit.out
  test/pycodestyle.out
  utils/datetime.py
  utils/log.py
Due: docker-build, code_quality

Minor changes
  .vscode/settings.json
  cb-manager.code-workspace
  elk.py
  resource/ebpf_program/handler/lcp/post.py
  resource/ebpf_program/handler/lcp/put.py
  swagger/schema.json
  swagger/schema.yaml
  utils/signal.py
Due: docker-build, code_quality

Finished Tutorial
  .vscode/settings.json
  README.md
  tutorial/README.md
  tutorial/agent/catalog/README.md
  tutorial/agent/catalog/data/firewall.json
  tutorial/agent/catalog/data/nprobe.json
  tutorial/agent/instance.md
  tutorial/connection.md
  tutorial/data.md
  tutorial/ebpf-program-catalog.md
  tutorial/ebpf-program/catalog.md
  tutorial/ebpf-program/instance.md
  tutorial/exec-env/README.md
  tutorial/exec-env/type.md
  tutorial/network-link/README.md
  tutorial/network-link/type.md
Due: none

Minor changes
  resource/base/get.py
  schema/query_request.py
  swagger/schema.json
  swagger/schema.yaml
Due: docker-build, code_quality

Minor changes
  resource/agent/handler/lcp/execute.py
  swagger/schema.json
  swagger/schema.yaml
Due: docker-build, code_quality

Minor changes
  .vs/ProjectSettings.json
  .vs/VSWorkspaceState.json
  .vs/context-broker-apis/v16/.suo
  .vs/slnx.sqlite
  .vscode/settings.json
  cb-manager.code-workspace
  resource - Shortcut.lnk
Due: none

Minor fixes
  requirements.txt
  resource/base/__init__.py
  resource/base/delete.py
  resource/base/get.py
  schema/agent/catalog.py
  schema/agent/instance.py
  schema/ebpf_program/catalog.py
  schema/exec_env.py
  swagger/schema.json
  swagger/schema.yaml
  utils/datetime.py
Due: docker-build, code_quality

Minor fixeso
  lib/heartbeat.py
  reader/query.py
  schema/agent/catalog.py
  schema/data.py
  schema/exec_env.py
  schema/query_request.py
  swagger/schema.json
  swagger/schema.yaml
Due: docker-build, code_quality

Minor fixes
  schema/exec_env.py
  swagger/schema.json
  swagger/schema.yaml
Due: docker-build, code_quality

Minor changes
  .gitignore
  docs/conf.py
  docs/running.rst
  readthedocs.pip
Due: docker-build, code_quality

Minor changes
  docs/requirements.txt
Due: none

Set doc requirements
  docs/requirements.txt
Due: none

Minor changes
  docs/docstring/__init__.py
  docs/docstring/base/delete.docstring
  docs/docstring/base/get.docstring
  docs/docstring/base/post.docstring
  docs/docstring/base/put.docstring
  docs/docstring/selected/delete.docstring
  docs/docstring/selected/get.docstring
  docs/docstring/selected/post.docstring
  docs/docstring/selected/put.docstring
Due: docker-build, code_quality
