Repository astrid-project/cb-manager: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docker-build, code_quality

docker-build:
  stage: build
  script:
  - curl -X POST -F token=0fc35482b4ca31b76ad4ee95587028 -F ref=master https://gitlab.com/api/v4/projects/18720527/trigger/pipeline

code_quality:
  stage: test
  allow_failure: true
  image: docker:stable
  services:
  - docker:stable-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  script:
  - docker info
  ...

Minor fix
  resource/agent/handler/lcp.py
Due: docker-build, code_quality

Minor fix
  lib/http.py
Due: docker-build, code_quality

History fix
  resource/agent/handler/lcp.py
Due: docker-build, code_quality

Agent Instance save
  document/agent/instance.py
Due: docker-build, code_quality

Agent update
  docs/agent-catalog.rst
  docs/agent-instance.rst
  document/agent/instance.py
  schema/agent/catalog.py
  schema/agent/instance.py
  utils/datetime.py
Due: docker-build, code_quality

Datetime update
  utils/datetime.py
Due: docker-build, code_quality

Response Log update
  lib/response.py
  resource/base/__init__.py
Due: docker-build, code_quality

Response log update
  lib/response.py
  resource/base/__init__.py
  utils/stack.py
Due: docker-build, code_quality

Ident server update
  about.py
  main.py
Due: docker-build, code_quality

Ident server update
  main.py
Due: docker-build, code_quality

New version
  CHANGELOG.md
  about.py
Due: docker-build, code_quality

Parameter update fix
  document/agent/instance.py
Due: docker-build, code_quality

Docs theme update
  TODO
  docs/conf.py
  docs/index.rst
  docs/requirements.txt
Due: docker-build, code_quality

Docs theme update
  docs/conf.py
  docs/index.rst
Due: docker-build, code_quality

Docs theme update
  docs/index.rst
Due: none

Docs theme update
  docs/changelog.rst
Due: none

Docs theme update
  cb-manager.code-workspace
  docs/contributing.rst
  docs/index.rst
Due: none

Docs theme update
  docs/changelog.rst
  docs/index.rst
Due: none

TODO update
  TODO
  TODO.md
Due: none

TODO update
  TODO.md
Due: none

Docs update
  CONTRIBUTING.md
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
  docs/conf.py
  docs/index.rst
  docs/requirements.txt
Due: docker-build, code_quality

Docs update
  TODO.md
  docs/conf.py
  docs/index.rst
  docs/license.rst
  docs/requirements.txt
Due: docker-build, code_quality

Docs update
  docs/LICENSE
Due: none

Docs update
  docs/conf.py
Due: docker-build, code_quality

Docs update
  cb-manager.code-workspace
  docs/conf.py
  docs/requirements.txt
Due: docker-build, code_quality

Docs update
  docs/api.rst
Due: none

Minor changes
  astrid-cb-manager.code-workspace
  cb-manager.code-workspace
Due: none

Doc update
  docs/agent-catalog.rst
  docstring/base/delete.yaml
  docstring/base/get.yaml
  docstring/base/post.yaml
  docstring/base/put.yaml
Due: docker-build

HTTPS and Auth support
  CHANGELOG.md
  api/__init__.py
  config.ini
  document/exec_env.py
  lib/heartbeat.py
  main.py
  reader/arg.py
  reader/config.py
  requirements.txt
  resource/agent/handler/lcp.py
  resource/ebpf_program/handler/lcp.py
Due: docker-build, code_quality

Minor fix
  api/middleware.py
  lib/response.py
Due: docker-build, code_quality

Docs update
  docs/exec-env.rst
Due: none

Algorithm management
  .vscode/settings.json
  document/algorithm.py
  document/algorithm/__init__.py
  document/algorithm/catalog.py
  document/algorithm/instance.py
  resource/__init__.py
  resource/algorithm.py
  resource/algorithm/__init__.py
  resource/algorithm/catalog.py
  resource/algorithm/handler/lcp.py
  resource/algorithm/instance.py
  schema/algorithm.py
  schema/algorithm/__init__.py
  schema/algorithm/catalog.py
  schema/algorithm/instance.py
Due: docker-build, code_quality

Algorithm documentation
  docs/algorithm-catalog.rst
  docs/algorithm-instance.rst
  docs/algorithm.rst
  docs/index.rst
Due: none

Docs update
  docs/algorithm-catalog.rst
  docs/index.rst
Due: none

Docs update
  docs/agent-catalog.rst
Due: none

Docs update
  docs/_static/css/custom.css
  docs/conf.py
  docs/network-link.rst
Due: docker-build, code_quality

Docs update
  docs/_static/css/custom.css
Due: none

Path conditions:
  docker-build: any of: **/*.py, **/*.ini, **/*.sh, **/*.yaml, **/*.docstring
  code_quality: any of: **/*.py, **/*.ini, **/*.sh
